<div class="background">

        <div class="header">
            <h1>Sign In</h1>
        </div>

    <div class=radiobutton>


            
            
           
            <!-- Default inline 1-->
       
            <input type="radio" ng-model="myVar" value="dogs" name="group1" class="1">Farmer
            <input type="radio" ng-model="myVar" value="tuts" name="group1" class="2">Buyer
            
     </div>
 

       <form action="action_page.php" method="post">

           
                
                <div class="container">
                  <label for="uname" ><b>First Name</b></label>
                  <input type="text" placeholder="First Name" name="uname" required>
              
                  <label for="psw"><b>Last Name</b></label>
                  <input type="password" placeholder="Last Name" name="psw" required>

                  <label for="psw"><b>Email</b></label>
                  <input type="password" placeholder="Your Email" name="psw" required>

                  <label for="psw"><b>NIC</b></label>
                  <input type="password" placeholder="NIC" name="psw" required>

                  <label for="psw"><b>Contact</b></label>
                  <input type="password" placeholder="Your Contact" name="psw" required>

                  <label for="psw"><b>Address</b></label>
                  <input type="password" placeholder="Your Address" name="psw" required>

                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Your Password" name="psw" required>
              
                  <button type="submit">Sign In</button>
                  
                </div>
              
                
              </form>
</div>
