<div class="background">

    <h1 style="text-align: center;">My Harvest</h1>
        <form action="action_page.php" method="post">

           
                
                <div class="container">
                  <label for="uname" style="margin-right: 89px;"><b>Name of Harvest</b></label>
                  <input type="text"  name="uname" required>

                  <br/>

                  <label for="psw" style="margin-right: 125px;"><b>All Quantity</b></label>
                  <input type="password" placeholder="in Kilograms" name="psw" required>

                  <br/>

                  <label for="psw" style="margin-right: 95px;"><b>Selling Quantity</b></label>
                  <input type="password" placeholder="in Kilograms" name="psw" required>
              
                  <br/>
                  <div calss="text-center">
                        <button type="submit" >BID</button>
                        
                  </div>
                  
                </div>
              
                
              </form>
</div>

