
<div class="background">

        <h1 style="text-align: center;">My Land</h1>
            <form action="action_page.php" method="post">
    
               
                    
                    <div class="container">
                      
                      <input type="text"  placeholder="Size of land in purcahse" name="uname" required>
    
                      <br/>
    
                      <label for="psw" style="margin-right: 125px;"><b>Location</b></label>
                      
    
                      <br/>
                      <div calss="text-center">
                            <button type="submit" >Next</button>
                            
                      </div>
                      
                    </div>
                  
                    
                  </form>
    </div>
    
    