<div class="background">
        <form action="action_page.php" method="post">

           
                
                <div class="container">
                  <label for="uname" style="margin-right: 100px;"><b>Buying Quantity</b></label>
                  <input type="text" placeholder="In Kilograms" name="uname" required>

                  <br/>

                  <label for="psw" style="margin-right: 112px;"><b>Price for 1 Kilo</b></label>
                  <input type="password" placeholder="in Rupees" name="psw" required>
              
                  <br/>
                  <button type="submit">Submit</button>
                  
                </div>
              
                
              </form>
</div>
